# Pandas Homework_Week 2_Data Analysis Bootcamp

In [1]:
from google.colab import files
uploaded = files.upload()


import numpy as np
import pandas as pd #transfering the necessary libraries inside: NumPy, Pandas

df1 = pd.read_csv('train.csv')
df2 = pd.read_csv('test.csv')
df3 = pd.read_csv('gender_submission.csv')

Saving test.csv to test.csv
Saving train.csv to train.csv
Saving gender_submission.csv to gender_submission.csv

In [2]:
print(df1.columns)
print(df2.columns)
print(df3.columns)

#we should merge and concatenate all these data frames
#df1 has all columns, df2 has all of them also except for 'Survived', df3 has only two of them
df_titanic = pd.merge(df2, df3, on='PassengerId')
df_titanic = pd.concat([df1, df_titanic], ignore_index=True)

print(df_titanic.columns) #checking if the columns are in correct order
df_titanic.head() #to see the combined dataframe

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')
Index(['PassengerId', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch',
       'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')
Index(['PassengerId', 'Survived'], dtype='object')
Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

1.Find the average age of those who died in the accident

In [ ]:
ave_age_died = df_titanic.loc[(df_titanic['Survived']==0) & (df_titanic['Age'].notnull())]['Age'].mean()
print("The average age of those who died in the accident is", ave_age_died)

The average age of those who died in the accident is 30.510985691573925

2.Find the average and median ticket price of those who died in the accident

In [ ]:
ave_fare_died = df_titanic.loc[(df_titanic['Survived']==0) & (df_titanic['Fare'].notnull())]['Fare'].mean()
print("Average ticket price of those who died in the accident is", ave_fare_died)

median_fare_died = df_titanic.loc[(df_titanic['Survived']==0) & (df_titanic['Fare'].notnull())]['Fare'].median()
print("Median ticket price of those who died in the accident is", median_fare_died)

Average ticket price of those who died in the accident is 23.879124447174448
Median ticket price of those who died in the accident is 10.5

3.Find the average age of the men who died in the accident

In [ ]:
ave_age_died_men = df_titanic.loc[(df_titanic['Survived']==0) & (df_titanic['Sex'] == 'male')]['Age'].mean()
print("Average age of men died in the accident:", ave_age_died_men)

Average age of men died in the accident: 31.129929203539824

4.Find the average age of the women who died in the accident

In [ ]:
ave_age_died_women = df_titanic.loc[(df_titanic['Survived']==0) & (df_titanic['Sex']=='female')]['Age'].mean()
print("Average age of the women who died in the accident:", ave_age_died_women)

Average age of the women who died in the accident: 25.046875

5.Find the average age of the survivors

In [ ]:
ave_age_survived = df_titanic.loc[df_titanic["Survived"] == 1 & (df_titanic['Age'].notnull())]['Age'].mean()
print("The average age of the survived is", ave_age_survived)

The average age of the survived is 28.93107913669065

6.Find the average ticket price of the survivors

In [ ]:
ave_fare_survived = df_titanic.loc[(df_titanic['Survived']==1) & (df_titanic['Fare'].notnull())]['Fare'].mean()
print("Average ticket price of the survived is", ave_fare_survived)

Average ticket price of the survived is 48.8114971659919

7.Find the total number of survivors.
(Hint: You can also use the code len(df_titanic[(df_titanic.Survived==1)]) to get this number.)

In [ ]:
num_survived = df_titanic.loc[(df_titanic['Survived']==1)]
print("The total number of survivors is", len(num_survived))

The total number of survivors is 494

8.Find the median ticket price of passengers under the age of 10

In [ ]:
median_fare_child = df_titanic.loc[(df_titanic['Age'] < 10) & (df_titanic['Fare'].notnull())]['Fare'].median()
print("Median ticket price of passengers under the age of 10:", median_fare_child)

Median ticket price of passengers under the age of 10: 26.0

9.Compare the average and median ticket prices of 1st, 2nd, and 3rd class passengers.
(The Pclass variable indicates the passenger class.)

In [ ]:
fare_stats = df_titanic.groupby('Pclass')['Fare'].agg(["mean", "median"])
print(fare_stats)

             mean   median
Pclass
1       87.508992  60.0000
2       21.179196  15.0458
3       13.302889   8.0500

10.Compare the mortality rate of women and men.
(Example: For men, divide the number of men who died by the total number of men to get the mortality rate.)

In [ ]:
#for men: the total number of men who died/the total number of men gives the mortality rate of men
#for women: the total number of women who died/the total number of women gives the mortality rate of women

total_men = df_titanic[df_titanic['Sex']=="male"].shape[0]
total_women = df_titanic[df_titanic['Sex']=="female"].shape[0]

died_men = df_titanic[(df_titanic['Sex']=="male") & (df_titanic['Survived']== 0)].shape[0]
died_women = df_titanic[(df_titanic['Sex']=="female") & (df_titanic['Survived']== 0)].shape[0]

mortality_rate_men = died_men/total_men
mortality_rate_women = died_women/total_women

print("Mortality rate of men is", mortality_rate_men)
print("Mortality rate of women is", mortality_rate_women)

Mortality rate of men is 0.8706998813760379
Mortality rate of women is 0.17381974248927037

11.Find the number of survivors and non-survivors by gender

In [7]:
survival_counts = df_titanic.groupby(["Sex", "Survived"]).size().unstack()
print("The number of survivors and non-survivors grouped by gender: ")
print(survival_counts)

The number of survivors and non-survivors grouped by gender:
Survived    0    1
Sex
female     81  385
male      734  109

12.Find the average fare paid by survivors vs non-survivors

In [6]:
avg_fare_by_survival = df_titanic.groupby("Survived")["Fare"].mean()
print("The average fare paid by survivors vs. non-survivors: ")
print(avg_fare_by_survival)

The average fare paid by survivors vs. non-survivors:
Survived
0    23.879124
1    48.811497
Name: Fare, dtype: float64

13.What is the average age per class and gender?

In [8]:
ave_age = df_titanic.groupby(["Pclass", "Sex"])["Age"].mean()
print("Average age by class and gender: ")
print(ave_age)

Average age by class and gender:
Pclass  Sex
1       female    37.037594
        male      41.029272
2       female    27.499223
        male      30.815380
3       female    22.185329
        male      25.962264
Name: Age, dtype: float64

14.How many children (age < 10) survived?

In [9]:
children_survived = df_titanic[(df_titanic["Age"] < 10) & (df_titanic["Survived"] == 1)].shape[0]
print("Number of children under 10 who survived: ", children_survived)

Number of children under 10 who survived:  47